<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="github" value="https://nuget.pkg.github.com/grae22/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="grae22" />
      <add key="ClearTextPassword" value="%GitHubPackagesToken%" />
    </github>
  </packageSourceCredentials>
</configuration>